<template>
  <div class="container-fluid py-4" style="margin-top: 80px;">
    <HelloWorld msg="GovCMS Dashboard" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    HelloWorld,
  }
}
</script>
