<template>
  <div>
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <!-- Navbar -->
          <nav
            class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid ps-2 pe-0">
              <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
                GovCMS Dashboard
              </a>
              <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/">
                      <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link me-2" href="../pages/profile.html">
                      <i class="fa fa-user opacity-6 text-dark me-1"></i>
                      Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <router-link to="/user/login" class="nav-link me-2">
                      <i class="fas fa-key opacity-6 text-dark me-1">
                        Sign in
                      </i>
                    </router-link>
                  </li>
                </ul>
                <ul class="navbar-nav d-lg-block d-none">
                  <li class="nav-item">
                    <a href="https://www.govcms.gov.au" class="btn btn-sm mb-0 me-1 bg-gradient-dark">GovCMS.gov.au</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <SideBar></SideBar>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import SideBar from '@/components/SideBar.vue'

export default {
  name: 'AppView',
  components: {
    SideBar,
  }
}
</script>

<style>
</style>
